<header>
    <h1>
        <a href="/">JapoApuntes</a>
    </h1>
    <nav>
        <a href="/intro/">Intro</a>
        <a href="/gramatica/">Gramática</a>
        <a href="/kanji/">Kanji</a>
        <a href="/lectura/">Lectura</a>
    </nav>
</header>