---
title: Inicio
jptitle: 'ようこそ'
layout: 'base.njk'
---

<h1>Bienvenido</h1>
<blockquote class="epi">Un hombre sin ningún encanto especial discute sobre toda suerte de temas al azar, como si lo
  supiera todo. <cite>Sei Shōnagon</cite></blockquote>
<p>Esta web es administrada por un estudiante cualquiera de japonés. El propósito de este sitio es compilar información
  bien estructurada sobre la lengua japonesa —en este caso, hablo de contenido en español que escasea frente al
  disponible en inglés—. Como estudiante, yo mismo me he enfrentado a estas dificultades idiomáticas, por lo que quiero
  que este blog sea un buen referente para aquellos que también quieran aventurarse al estudio del japonés, ¡y en
  español!</p>
<p style="font-feature-settings: 'palt'1;"><ruby>頑張<rt>がんば</ruby>りましょう！</p>

<h2>Secciones</h2>
<div class="secc">
  <div class="secc-tar">
    <h3>Gramática</h3>

  </div>
  <div class="secc-tar">
    <h3>Kanji</h3>

  </div>
  <div class="secc-tar">
    <h3>Lectura</h3>

  </div>
  <div class="secc-tar">
    <h3>Apéndice</h3>

  </div>
</div>

<h2>Créditos</h2>
<details>
  <summary>
    <h3>Colofón</h3>
  </summary>
  <div class="res">
    <p>Los textos se componen en tipos de la familia Ten Mincho Text, una hermosa tipografía <em>old style</em> diseñada
      por Ryōko Nishizuka y Robert Slimbach. Los titulares se componen en tipos de la familia Seravek (Eric Olson) o
      Gill Sans (Eric Gill), dependiendo desde qué dispositivo visites este sitio.</p>
  </div>
</details>
<details>
  <summary>
    <h3>Créditos iconográficos</h3>
  </summary>
  <div class="res">
    <p>Los textos se componen en tipos de la familia Ten Mincho Text, una hermosa tipografía <em>old style</em> diseñada
      por Ryōko Nishizuka y Robert Slimbach. Los titulares se componen en tipos de la familia Seravek (Eric Olson) o
      Gill Sans (Eric Gill), dependiendo desde qué dispositivo visites este sitio.</p>
  </div>
</details>
<details>
  <summary>
    <h3>Fuentes consultadas</h3>
  </summary>
  <div class="res">
    <p>Los textos se componen en tipos de la familia Ten Mincho Text, una hermosa tipografía <em>old style</em> diseñada
      por Ryōko Nishizuka y Robert Slimbach. Los titulares se componen en tipos de la familia Seravek (Eric Olson) o
      Gill Sans (Eric Gill), dependiendo desde qué dispositivo visites este sitio.</p>
  </div>
</details>

<h2>Contacto</h2>